<%- include('../partials/header') %>
    <main>
        <h1>Account Management</h1>

        <% if (accountData) { %>
            <h2>Welcome <%= accountData.firstname %>
            </h2>

            <!-- Update account info link for all -->
            <p><a href="/account/update/<%= accountData.account_id %>">Update Account Info</a></p>

            <% if (accountData.account_type==='Employee' || accountData.account_type==='Admin' ) { %>
                <h3>Inventory Management</h3>
                <p><a href="/inventory">Go to Inventory Management</a></p>
                <% } %>
                    <% } %>
    </main>
    <%- include('../partials/footer') %>