<% const d=new Date() 
let year=d.getFullYear() %>
    <footer>
        <p class="copyright">& copy ; <%= year %>, Jimmy Opot Alando CSE 340 Appp</p>
    </footer>


    <footer>
        <p><a href="/cause-error">Test 500 Error</a></p>
    </footer>