<header id="top-header">
    <div class="site-name">
        <a href="/" title="Return to home page">CSE Motors</a>
    </div>
    <div id="tools">
        <a href="/account/login" title="Log in to your account">My Account</a>
    </div>
</header>
  